@use "../../styles/colors" as colors;

.dock {
	grid-area: 2 / 1 / 3 / 2;
	background-color: colors.$button-bg;
	border-top: 2px solid black;

	margin: 0;
	padding: 2px;

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		.openTabs {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			margin-left: 10px;
		}
	}
}
