@use "../../styles/colors" as colors;

.window {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	transform: translate(50%, 30%);
	width: 40%;
	height: 60%;
	background-color: colors.$button-bg;

	.firstRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		height: 25px;
		margin: 2px;
		padding: 1px;

		background-color: colors.$blue;

		.left,
		.right {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		.left {
			h4 {
				margin: 2px 5px;
				color: white;
			}
		}

		.right {
			.control {
				width: 100%;
				height: 100%;
				margin: 0px;

				img {
					width: 1.1rem;
					height: 1.1rem;
				}
			}
		}
	}

	.secondRow {
		ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			list-style: none;

			li {
				margin: 0px 10px;
				cursor: pointer;

				&:first-letter {
					text-decoration: underline;
				}
			}
		}
	}

	.playground {
		background-color: white;
		box-shadow: rgb(128, 128, 128) 1px 1px 0px 0px inset;
		height: 84%;
		margin: 0px 10px;
		padding: 10px;
	}

	.bar {
		margin: 2px 10px;

		p {
			padding: 2px 0px 0px 5px;
			font-size: 0.9rem;
			border: 1px solid colors.$button-bg;
			background: rgb(219, 219, 219);
			box-shadow: rgb(128, 128, 128) 1px 1px 0px 0px inset;
		}
	}
}
