.icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;

	&:hover {
		background-color: rgba(220, 220, 220, 0.2);
	}

	img,
	p {
		cursor: pointer;
	}

	p {
		text-align: center;
	}
	.text-white {
		color: white;
	}
	.text-black {
		color: black;
	}
}
