@use "./styles/colors" as colors;

.App {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 30px;

	width: 100vw;
	height: 100vh;
	height: 100svh;

	#startup {
		position: absolute;
		z-index: 1001;
		top: 0;
		left: 0;

		background: no-repeat center url("./assets/data/startup.webp");

		height: 100%;
		width: 100%;

		animation: startup 1s ease-in-out 1s 1 forwards;
	}
}

@keyframes startup {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
